:root {
    --primary-color: #f15f1b;
    --background-color: #FFEEE6;
    --BG-sidebar: #fff;
    --black-color: #333;
    --white-color: #fff;
    --gray-color: #808080;
    --box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li,
a {
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    background-color: #eee;
    overflow: auto;
}

/*MASTER PAGE*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    box-shadow: var(--box-shadow);
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--white-color);
}

.logo {
    cursor: pointer;
    width: 60px;
    height: 60px;
    transition: .3s;
}

    .logo:hover {
        transform: scale(1.1);
    }

/* menu-dropdown */
.header__menu-link {
    display: flex;
    align-items: center;
}

    .header__menu-link i {
        color: var(--primary-color);
        transition: .3s;
    }

        .header__menu-link i:hover {
            color: var(--black-color);
        }

.header__name-admin {
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
    margin-top: 5px;
    color: var(--gray-color);
}

.header__menu-item.header__has-child {
    display: flex;
    position: relative;
}

    .header__menu-item.header__has-child:hover .header__menu-child {
        opacity: 1;
        visibility: visible;
    }

.header__menu-child {
    --top-space: 28px;
    position: absolute;
    top: 100%;
    right: -40px;
    width: 100%;
    z-index: 1000;
    transition: all 0.3s;
    list-style: none;
    transform: translateY(var(--top-space));
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    color: var(--black-color);
}

    .header__menu-child:before {
        content: "";
        height: var(--top-space);
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: transparent;
        opacity: 0;
        transform: translateY(-100%);
    }

.header__menu-child {
    box-shadow: var(--box-shadow);
    min-width: 160px;
}

.header__menu-child-link {
    display: block;
    padding: 15px;
    text-decoration: none;
    border-bottom: 1px solid var(--black-color);
    background: var(--white-color);
    color: var(--primary-color);
    transition: .3s;
    text-align: center;
    font-size: 17px;
}

    .header__menu-child-link:hover {
        background-color: var(--primary-color);
        color: var(--white-color);
    }

.header__nav-admin {
    display: flex;
    align-items: baseline;
}

/* SIDE-BAR */
.side-bar {
    box-shadow: var(--box-shadow);
    width: 220px;
    height: 89%;
    position: fixed;
    left: 0;
    top: 85px;
    overflow: auto;
    background-color: var(--BG-sidebar);
    color: var(--primary-color);
}

    .side-bar .menu-side-bar {
        width: 100%;
        margin-top: 20px;
        font-size: 15px;
    }

    .side-bar h4 {
        margin-top: 40px;
        text-align: center;
    }

    .side-bar .menu-side-bar .menu-item {
        position: relative;
        cursor: pointer;
    }

        .side-bar .menu-side-bar .menu-item a {
            display: block;
            padding: 8px 15px;
            line-height: 30px;
        }

.menu-item a {
    color: var(--black-color);
}

    .menu-item a:hover {
        background-color: var(--background-color);
        transition: 0.3s;
    }

.side-bar .menu-side-bar .menu-item i {
    margin-right: 5px;
}

.side-bar .menu-side-bar .menu-item a .side-bar_dropdown {
    position: absolute;
    right: 5px;
    margin-top: 8px;
}

.side-bar .menu-side-bar .menu-item .sub-menu {
    margin-left: 20px;
    width: 80%;
    display: none;
    border-left: 2px solid var(--primary-color);
}

    .side-bar .menu-side-bar .menu-item .sub-menu a {
        padding-left: 10px;
    }

.rotate {
    transform: rotate(90deg);
}

.active {
    display: block;
}



